################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pi_copterVS/v15/Browse.VC.opendb
